*{
    box-sizing: border-box;
}
.navbar_section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background: #fff;*/
    z-index: 500;
    padding: 10px 0;
    display: inline-flex;
    transition: all ease-in-out .3s;
    &.scrolled{
        background: #c7c59b;
        box-shadow: 0 0 10px #585741;
        border-bottom: solid 5px #c7c59b; 
        .menu_section ul li{
            font-size: 18px;
        }
        .logo_section{
            opacity: 1;
        }
    }
    .logo_section{
        width: 30%;
        display: inline-block;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 900;
        padding-left: 50px;
        opacity: 0;
        transition: all ease-in-out .3s;
        display: inline-flex;
        img{
            width: 15%;
        }
        span{
            margin: auto 15px;
        }
    }
    .menu_section{
        width: 70%;
        display: inline-block;
        box-sizing: border-box;
        padding-right: 50px;
        text-align: right;
        margin: auto auto auto 0;
        ul{
            padding: 0;
            list-style: none;
            display: inline-block;
            margin: 0;
            li{
                display: inline-block;
                padding: 5px;
                font-size: 12px;
                vertical-align: text-bottom;
                transition: all ease-in-out .3s;
                a{
                    text-decoration: none;
                    color: #000;
                    transition: all ease-in-out .3s;
                    &:hover{
                        color: #385c7b;
                    }
                }
            }
        }
    }
}

.main_banner{
    position: relative;
    .comp_logo{
        position: absolute;
        z-index: 100;
        width: 7%;
        height: auto;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all ease-in-out 0.3s;
        &:hover{
            width: 8%;
        }
    }
    .main_title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: 900;
        font-size: 4rem;
        color: #393939;
        z-index: 100;
        text-align: center;
    }
    .sub_title{
        font-weight: 100;
        font-size: 2rem;
        font-family: monospace;
    }
    .slider{
        height: 100vh!important;
        .slider-items img{
            height: 100vh;
            width: 100%;
        }
        .slider-indicator-icon{
            display: inline-block;
            width: 50px;
            height: 5px;
            margin: 0 .1rem;
            cursor: pointer;
            border-radius: 0;
            background-color: #c7c59b;
            &.slider-indicator-active{
                background-color: #999986;
            }
        }
        .slider-indicators{
            z-index: 99;
        }
    }
}

#services{
    padding: 50px;
    position: relative;
    overflow: hidden;
    .title_section{
        text-align: center;
        font-weight: 700;
        color: #393939;
        letter-spacing: 5px;
        font-family: sans-serif;
        position: relative;
        &::after{
            width: 7%;
            height: 3px;
            background: #bbc3cc;
            content: '';
            position: absolute;
            bottom: -30%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .services_list{
        padding: 0;
        list-style: none;
        display: block;
        width: 75%;
        margin: 80px auto 0;
        li{
            display: inline-block;
            box-sizing: border-box;
            width: 50%;
            padding: 20px;
            color: #252525;
            transition: all ease-in-out 0.3s;
            &:hover{
                background: #fffbd3;
                border-radius: 100px;
                box-shadow: 0 0 10px #cbc15b;
                .colored{
                    display: initial;
                }
                .noncolored{
                    display: none;
                }
            }
            // .noncolored{
            //     width: 50%;
            //     object-fit: contain;
            // }
            .colored{
                display: none;
            }
            .icon_cont{
                display: inline-block;
                vertical-align: top;
                width: 15%;
                text-align: center;
                transition: all ease-in-out 0.3s;
            }
            .text_cont{
                display: inline-block;
                vertical-align: top;
                width: 75%;
                .serv_name{
                    font-size: 20px;
                    font-family: monospace;
                }
                .desc_name{
                    margin-left: 20px;
                    font-family: monospace;
                    font-weight: 100;
                    color: #3e3e3e;
                    font-style: italic;
                    font-size: 15px;
                }
            }
        }
    }
}

#products{
    padding: 50px 80px;
    background: #f4f5f6;
    text-align: center;
    .title_section{
        text-align: center;
        font-weight: 700;
        color: #393939;
        letter-spacing: 5px;
        font-family: sans-serif;
        position: relative;
        &::after{
            width: 7%;
            height: 3px;
            background: #bbc3cc;
            content: '';
            position: absolute;
            bottom: -30%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .product_lists{
        list-style: none;
        padding: 0;
        margin: 40px auto;
        display: inline-block;
        width: 80%;
        text-align: left;
        li{
            display: inline-table;
            width: 25%;
            padding: 10px;
            box-sizing: border-box;
            .white_cont{
                background: #fff;
                border-radius: 5px;
                width: 100%;
                height: 33vh;
                padding: 20px 10px;
                text-align: center;
                box-sizing: border-box;
                transition: all ease-in-out .3s;
                position: relative;
                top: 0;
                &:hover{
                    box-shadow: 0 0 10px #c7c59b;
                    background: #eae9d4;
                    top: -10px;
                }
                div{
                    margin-top: 20px;
                    font-family: monospace;
                }
                img{
                    width: 100%;
                    height: 15vh;
                    object-fit: contain;
                }
            }
        }
    }
}

#about_us{
    .parallax_bg{
        // background: url('../img/aboutus.jpg') fixed no-repeat;
        position: relative;
        // background-size: 50% 100%;
    }
    .first_section{
        display: flex;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            // opacity: .5;
            position: absolute;
        }
        p{
            width: 70%;
            margin: 50px auto;
            font-family: serif;
            color: #393939;
            // letter-spacing: -1px;
        }
        .saying{
            font-size: 20px;
            text-align: center;
            font-weight: 700;
            color: #393939;
            font-style: italic;
            font-family: monospace;
            margin-bottom: 40px;
        }
    }
    .second_section{
        display: flex;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            display: inline-table;
            li{
                width: 25%;
                height: 35vh;
                position: relative;
                float: left;
                box-sizing: border-box;
                text-align: center;
                cursor: pointer;
                &.gray{
                    background: #a2a2a2;
                    color: #fff;
                    transition: all ease-in-out .3s;
                }
                &.white{
                    background: #f7f7f7;
                    color: #393939;
                    transition: all ease-in-out .3s;
                }
                &:hover{
                    .moving{
                        display: initial;
                    }
                    .notmoving{
                        display: none;
                    }
                    &.gray{
                        background: #6d6d6d;
                    }
                    &.white{
                        background: #feffea;
                    }
                }
                .moving{
                    display: none;
                }
                .box_container{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    div{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .title_section{
        text-align: center;
        font-weight: 700;
        color: #393939;
        letter-spacing: 5px;
        font-family: sans-serif;
        position: relative;
        margin-top: 40px;
    }
}

.meet_team{
    padding: 50px 50px 100px;
    // background: url('../img/team.jpg') fixed;
    background: #f4f5f6;
    text-align: center;
    position: relative;
    // background-size: cover;
    .overlay_img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .tablet_view,.mobile_view{
        display: none;
    }

    .title_section{
        text-align: center;
        font-weight: 700;
        color: #393939;
        letter-spacing: 5px;
        font-family: sans-serif;
        position: relative;
        &::after{
            width: 7%;
            height: 3px;
            background: #bbc3cc;
            content: '';
            position: absolute;
            bottom: -30%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .team_holder{
        display: inline-flex;
        width: 90%;
        margin-top: 50px;

        .white_cont{
            background: #fff;
            width: 100%;
            margin: 10px;
            padding: 10px;
            position: relative;
            top: 0;
            transition: all ease-in-out 0.3s;
            cursor: pointer;
            &:hover{
                // top: -10px;
                box-shadow: 0 10px 10px #ada697;
                .overlay{
                    opacity: 1!important;
                }
            }
            .img_cont{
                position: relative;
                img{
                    width: 100%;
                    height: 25vh;
                    object-fit:cover;
                }
                .overlay{
                    background: linear-gradient(transparent, #bcc2d8);
                    position: absolute;
                    height: 100.05%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition-delay: 0s;
                    -webkit-transition: opacity 0.4s ease-in-out;
                    -moz-transition: opacity 0.4s ease-in-out;
                    -o-transition: opacity 0.4s ease-in-out;
                    transition: opacity 0.4s ease-in-out;
                }
            }
            .name{
                font-size: 14px;
                font-weight: 700;
                font-family: inherit;
                color: #393939;
                margin-bottom: 0;
            }
            .position{
                font-size: 12px;
                color: #393939;
            }
            .description{
                font-size: 13px;
                font-weight: 100;
                color: #393939;
            }
        }
    }
}

.message_section{
    .mobile_view{
        display: none;
    }
    .desktop_view{
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .left_section{
        width: 45%;
        padding: 50px;
        h1{
            text-align: center;
            font-weight: 700;
            color: #393939;
            letter-spacing: 5px;
            font-family: sans-serif;
            position: relative;
            margin-top: 40px;
            font-size: 30px;
        }
        p{
            margin-top: 40px;
            text-indent: 30px;
            font-family: monospace;
            font-style: italic;
            font-size: 20px;
            font-weight: 100;
            // letter-spacing: -2px;
        }
        .chairman_name{
            margin-top: 50px;
            float: right;
            text-align: center;
            font-family: monospace;
            font-weight: 100;
            font-size: 18px;
            span{
                font-size: 15px;
                font-family: initial;
            }
        }
    }
    .right_section{
        width: 55%;
        position: relative;
        img{
            position: absolute;
            right: 20%;
            top: 20%;
            /*transform: translate(35%,-50%)!important;*/
            z-index: 1;
        }
    }
}

#contact_us{
    padding: 50px 0;
    display: flex;
    overflow: hidden;
    iframe{
        display: block;
        margin: auto;
        border: solid 5px #fff!important;
        box-shadow: 0 0 5px #d3d3d3;
        width: 80%;
    }
    .details_container{
        width: 70%;
        margin: auto;
        display: block;
    }
    .address{
        font-size: 30px;
        font-family: monospace;
        margin-top: 40px;
        span{
            font-size: 17px;
            font-family: monospace;
            color: #393939;
            display: inline-block; 
        }
    }
    .contacts{
        font-size: 30px;
        font-family: monospace;
        margin-top: 40px;
        line-height: .8;
        span{
            font-size: 17px;
            font-family: monospace;
            color: #393939;
            display: inline-block;
        }
    }
    .send_us_btn{
        margin-top: 30px;
        padding: 10px 30px;
        border-radius: 50px;
        border: solid 1px #d3d3d3;
        background: transparent;
        outline: none;
        cursor: pointer;
        transition: all ease-in-out 0.3s; 
        &:hover{
            background: #fffcdc;
            border-color: #fffcdc;
        }
    }
    .socials{
        list-style: none;
        padding: 0;
        margin-top: 30px;
        li{
            display: inline-block;
            padding-right: 10px; 
            img{
                transition: all ease-in-out 0.3s;
            }
        }
    }
}

#contact_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    z-index: 600;
    .white_container{
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        border-radius: 5px;
        border-top: solid 5px #c7c59b;
        box-sizing: border-box;
        box-shadow: 0 0 10px #9d9d9d;
        .title{
            font-size: 25px;
            font-weight: 700;
            font-family: monospace;
            padding: 50px 70px;
            position: relative;
            .close_modal{
                position: absolute;
                right: -10px;
                top: -10px;
                font-size: 20px;
                font-weight: 900;
                border: solid 1px #c3c3c3;
                width: 25px;
                height: 25px;
                text-align: center;
                border-radius: 50px;
                background: #fff;
                cursor: pointer;
                font-family: inherit;
                transition: all ease-in-out .3s;
                &:hover{
                    background: #c7c59b;
                    color: #fff;
                    border-color: #c7c59b;
                }
            }
        }
        .body{
            padding: 0 70px 20px;
            input,textarea{
                width: 100%;
                border: none;
                border-bottom: solid 1px #d3d3d3;
                padding: 10px 0;
                box-sizing: border-box;
                outline: none;
                margin: 0 0 10px;
            }
            label{
                font-size: 13px;
                font-family: monospace;
                color: #616161;
                margin-bottom: 10px;
            }
        }
        .foot{
            padding: 0 70px 50px;
            button{
                background: #9f9d6e;
                padding: 10px 30px;
                color: #fff;
                border: none;
                border-radius: 50px;
                outline: none;
                margin-top: 30px;
                box-shadow: 0 0 20px 1px #c7c59b;
                cursor: pointer;
                transition: all ease-in-out .3s;
                &:hover{
                    background: #89886f;
                }
            }
        }
    }
}

#profile_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 600;
    .white_container{
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 30%;
        border-radius: 5px;
        border-top: solid 6px #c7c59b;
        box-sizing: border-box;
        box-shadow: 0 0 10px #9d9d9d;
        .title{
            font-size: 25px;
            font-weight: 700;
            font-family: monospace;
            padding: 50px 70px;
            position: relative;
            background: #c7c59b;
            top: -1px;
            .close_modal{
                position: absolute;
                right: -10px;
                top: -10px;
                font-size: 20px;
                font-weight: 900;
                border: solid 1px #c3c3c3;
                width: 25px;
                height: 25px;
                text-align: center;
                border-radius: 50px;
                background: #fff;
                cursor: pointer;
                font-family: inherit;
                transition: all ease-in-out .3s;
                &:hover{
                    background: #c7c59b;
                    color: #fff;
                    border-color: #c7c59b;
                }
            }
        }
        .image_container{
            text-align: center;
            img{
                width: 20vh;
                height: 20vh;
                object-fit:cover;
                border-radius: 50%;
                border: solid 5px #fff;
                position: relative;
                top: -50px;
            }
        }
        .name{
            text-align: center;
            font-size: 25px;
            font-weight: 900;
            font-family: monospace;
            position: relative;
            top: -40px;
        }
        .position{
            text-align: center;
            font-size: 18px;
            font-weight: 100;
            font-family: monospace;
            position: relative;
            top: -35px;
            color: #717171;
        }
        .description{
            margin: -20px 0 20px;
            padding: 20px;
            font-size: 15px;
            color: #333;
            max-height: 35vh;
            overflow: scroll;
        }
    }
}

//general scss
.footer{
    background: #c7c59b;
    color: #333;
    text-align: center;
    font-size: 13px;
    padding: 10px;
}
.half_divide{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.rectangle_green{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #c7c59b;
}


#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 300;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #d3d3d3;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: all 0.2s ease-out;
    opacity: 0;
    zoom: 1.2;
    box-shadow: 0 0 5px 0px #858585;
    &.show{
        opacity: 1;
    }
    &:hover {
        background: #e9ebec;
    }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c59b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.banner_trans-enter-active{
    animation: banner_fade ease-in-out 0.6s;
}
.show_modal-enter-active{
    animation: modal_fade ease-in-out 0.3s;
}
.show_modal-leave-active{
    animation: modal_fade ease-in-out 0.3s reverse;
}


@keyframes banner_fade{
    0%{
        opacity: 0;
        top: 40%;
    }
    100%{
        opacity: 1;
        top: 50%;
    }
}
@keyframes modal_fade{
    0%{
        opacity: 0;
        top: -10%;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}


$transition-duration: 0.5s;
$transition-delay: 0.05s;
$items: 5;

.mobile_navbar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    #toggle {
      display: none; //hides the checkbox
    }

    // Styles for the 'open' state, if the checkbox is checked
    #toggle:checked {
      //Any element you need to change the style if menu is open goes here, using the sibling selector (~)
      & ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 550px rgba( 199, 197, 155, 1), inset 0 0 0 20px rgba( 199, 197, 155, 1);

        &:before {
          transform: translateY(-50%) rotate(45deg) scale(1);
        }

        &:after {
          transform: translateY(-50%) rotate(-45deg) scale(1);
        }
      }

      // Open Nav
      & ~ .nav {
        margin-bottom: 100px;
        pointer-events: auto;
        transform: translate(50px, 50px);

        // Restoring nav items from 'lines' in the menu icon
        .nav-item {
          color: #000;
          letter-spacing: 0;
          height: 40px;
          line-height: 40px;
          margin-top: 0;
          opacity: 1;
          transform: scaleY(1);
          transition: $transition-duration, opacity 0.1s;
          text-decoration: none;
          font-weight: 700;
          font-family: monospace;

          // Setting delays for the nav items in open transition
          @for $i from 1 through $items {
            &:nth-child(#{$i}) {
              $delay: ($items - $i) * $transition-delay;
              transition-delay: $delay;
              &:before {
                transition-delay: $delay;
              }
            }
          }

          // Hide the lines
          &:before {
            opacity: 0;
          }
        }
      }

      & ~ .dummy-content {
        padding-top: 30px;

        &:before {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    /* Toggle Button */

    .button-toggle {
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 100%;
      transition: $transition-duration + 0.1;

      // Shadow on Hover
      &:hover {
       box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
      }

      // Making the 'X' icon using `:before` and `:after` pseudo-elements
      // Initially hidden beause of `scale(0)` transformation

      &:before, &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #787643;
        border-radius: 5px;
        transition: $transition-duration;
      }

      &:before {
        transform: translateY(-50%) rotate(45deg) scale(0);
      }

      &:after {
        transform: translateY(50%) rotate(-45deg) scale(0);
      }
    }

    /* Menu */

    .nav {
      display: inline-block;
      margin: 25px 25px 20px;
      pointer-events: none;
      transition: $transition-duration;
      cursor: pointer;
    }

    // Showing nav items as lines, making up the hamburger menu icon
    .nav-item {
      position: relative;
      display: inline-block;
      float: left;
      clear: both;
      color: transparent;
      // font-size: 14px;
      letter-spacing: -6.2px;
      height: 7px;
      line-height: 7px;
      white-space: nowrap;
      transform: scaleY(0.2);
      transition: $transition-duration, opacity 1s;

      //Set delays for the nav items in close transition
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          $delay: ($i - 1) * $transition-delay;
          transition-delay: $delay;
          &:before {
            transition-delay: $delay;
          }
        }
      }

      // Adjusting width for first line
      &:nth-child(1) {
        letter-spacing: -8px;
      }

      // Adjusting width for second line
      &:nth-child(2) {
        letter-spacing: -7px;
      }

      // Adjusting the fourth element onwards
      &:nth-child(n + 4) {
        letter-spacing: -8px;
        margin-top: -7px;
        opacity: 0;
      }

      //getting lines for the hamburger menu icon
      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: translateY(-50%) scaleY(5);
        transition: $transition-duration;
      }
    }
}