@media (min-width: 992px) and (max-width: 1199px){
	.main_banner{
		.main_title{
			font-size: 3rem;
		}
		.sub_title{
			font-size: 1.8rem;
		}
	}

	#services {
		.title_section{
			font-size: 30px;
		}
		.services_list{
			.serv_name{
				font-size: 18px!important;
			}
			.desc_name{
				font-size: 13px!important;
			}
			img{
				zoom: .9;
			}
		}
	}

	.message_section{
		.left_section{
			padding: 30px 50px 50px;
			h1{
				font-size: 25px;
			}
			p{
				font-size: 15px;
			}
		}
		.right_section img{
			zoom:.8;
		}
	}

	#contact_us iframe{
		height: 80%;
	}

	.meet_team{
		.team_holder{
			width: 100%;
			.name{
				font-size: 13px!important;
			}
			.position{
				font-size: 11px!important;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.mobile_navbar{
		display: inherit;
		#toggle:checked ~ .nav .nav-item{
			font-size: 20px;
		}
	}
	.desktop_nav{
		display: none;
	}
	.main_banner{
		.comp_logo{
			width: 10%!important;
		}
		.main_title{
			font-size: 2.7rem!important;
		}
		.sub_title{
			font-size: 1.5rem!important;
		}
	}

	#services {
		.title_section{
			font-size: 30px;
		}
		.services_list{
			width: 100%;
			li{
				cursor: pointer;
			}
			.serv_name{
				font-size: 18px!important;
			}
			.desc_name{
				font-size: 13px!important;
			}
			img{
				zoom: .9;
			}
		}
	}

	#products{
		.title_section{
			font-size: 30px;
		}
		.product_lists{
			width: 100%;
			li{
				cursor: pointer;
			}
		}
	}

	.meet_team{
		.desktop_view{
			display: none;
		}
		.tablet_view{
			display: inherit;
		}
	}

	#profile_modal{
		.white_container{
			width: 50%;
		}
	}

	.message_section{
		.left_section{
			padding: 30px 50px 50px;
			h1{
				font-size: 25px;
			}
			p{
				font-size: 15px;
			}
		}
		.right_section img{
			zoom:.65;
			top: 25%;
		}
	}

	#contact_us {
		iframe{
			height: 80%;
		}
		.contacts span{
			font-size: 15px;
		}
	}

	.content .view_site{
		width: 15%;
	}
}

@media (min-width: 600px) and (max-width: 767px){
	.content .view_site{
		width: 20%;
	}

	.mobile_navbar{
		display: inherit;
		#toggle:checked ~ .nav .nav-item{
			font-size: 20px;
		}
	}
	.desktop_nav{
		display: none;
	}
	.main_banner{
		.comp_logo{
			width: 15%!important;
		}
		.main_title{
			font-size: 2rem!important;
		}
		.sub_title{
			font-size: 1.3rem!important;
		}
	}

	#services {
		.title_section{
			font-size: 30px;
		}
		.services_list{
			width: 80%;
			li{
				width: 100%;
				cursor: pointer;
			}
			.serv_name{
				font-size: 18px!important;
			}
			.desc_name{
				font-size: 13px!important;
			}
			img{
				zoom: .9;
			}
		}
	}

	#products{
		.title_section{
			font-size: 30px;
		}
		.product_lists{
			width: 100%;
			li{
				width: 50%;
				cursor: pointer;
			}
		}
	}

	#about_us{
		h1{
			font-size: 25px;
		}
		.half_divide{
			width: 70%;
		}
		.parallax_bg{
			width: 30%
		}
		.first_section p{
			margin: 30px auto;
			font-size: 13px;
		}
		.first_section .saying{
			font-size: 15px;
		}
		.second_section ul li{
			width: 50%;
			height: 30vh;
			font-size: 13px;
			img{
				zoom:.8;
			}
			&.reverse.gray{
                background: #f7f7f7;
                color: #393939;
                transition: all ease-in-out .3s;
            }
            &.reverse.white{
                background: #a2a2a2;
                color: #fff;
                transition: all ease-in-out .3s;
            }
            &:hover{
                &.reverse.white{
                    background: #6d6d6d;
                }
                &.reverse.gray{
                    background: #feffea;
                }
            }
		}
	}

	.meet_team{
		h1{
			font-size: 25px;
		}
		.desktop_view,.tablet_view{
			display: none;
		}
		.mobile_view{
			display: inherit;
			img{
				height: 30vh;
			}
		}
	}

	#profile_modal{
		.white_container{
			width: 70%;
		}
	}

	.message_section{
		display: inherit;
		.desktop_view,.tablet_view{
			display: none;
		}
		.mobile_view{
			display: inherit;
		}
		.half_divide{
			width: 100%!important;
		}
		.left_section{
			padding: 30px 50px 50px;
			h1{
				font-size: 25px;
			}
			p{
				font-size: 15px;
			}
		}
		.right_section{
			background: #c7c59b;
			text-align: center;
		}
		.right_section img{
			zoom:.65;
			bottom: -80px;
			right: 0;
			position: relative;
		}
	}

	#contact_us {
		display: inherit;
		.half_divide{
			width: 100%!important;
		}
		iframe{
			height: 80%;
		}
		.contacts span{
			font-size: 15px;
		}
		.details_container{
			text-align: center;
		}
	}

	#contact_modal .white_container{
		width: 90%;
	}
}

@media (min-width: 414px) and (max-width: 599px){
	.content .view_site{
		width: 30%;
	}
	#video_bg_intro{
		min-height: auto;
		width: 100%;
	}

	.mobile_navbar{
		display: inherit;
		#toggle:checked ~ .nav .nav-item{
			font-size: 20px;
		}
	}
	.desktop_nav{
		display: none;
	}
	.main_banner{
		.comp_logo{
			width: 25%!important;
		}
		.main_title{
			font-size: 2rem!important;
			width: 100%;
		}
		.sub_title{
			font-size: 1.3rem!important;
		}
	}

	#services {
		padding: 30px;
		.title_section{
			font-size: 25px;
		}
		.services_list{
			width: 100%;
			cursor: pointer;
			li{
				width: 100%;
				.icon_cont{
					width: 20%;
				}
			}
			.serv_name{
				font-size: 18px!important;
			}
			.desc_name{
				font-size: 13px!important;
			}
			img{
				zoom: .9;
			}
		}
	}

	#products{
		.title_section{
			font-size: 25px;
		}
		.product_lists{
			width: 100%;
			li{
				width: 100%;
				cursor: pointer;
			}
		}
	}

	#about_us{
		.first_section{
			display: inherit;
			position: relative;
			// background: url(/static/img/aboutus.920afad.jpg) fixed no-repeat;
			// background-size: 100% 100%;
			.parallax_bg{
				// display: none;
				position: absolute!important;
			    z-index: 0;
			    top: 0;
			    left: 0;
			    height: 100%;
			    img{
			    	opacity: 1;
			    }
			}
			.half_divide{
				width: 100%;
				background: rgba(255,255,255,.8);
				position: relative;
			}
			p{
				margin: 30px auto;
				font-size: 15px;
			}
			.saying{
				font-size: 17px;
			}
		}
		h1{
			font-size: 25px;
		}
		.second_section ul li{
			width: 50%;
			height: 30vh;
			font-size: 13px;
			img{
				zoom:.8;
			}
			&.reverse.gray{
                background: #f7f7f7;
                color: #393939;
                transition: all ease-in-out .3s;
            }
            &.reverse.white{
                background: #a2a2a2;
                color: #fff;
                transition: all ease-in-out .3s;
            }
            &:hover{
                &.reverse.white{
                    background: #6d6d6d;
                }
                &.reverse.gray{
                    background: #feffea;
                }
            }
		}
	}

	.meet_team{
		h1{
			font-size: 25px;
		}
		.desktop_view,.tablet_view{
			display: none;
		}
		.mobile_view{
			display: inherit;
			img{
				height: 30vh;
			}

			.team_holder{
				margin: 0 auto;
				display: inherit;
				width: 70%;
				&:first-child{
					margin-top: 50px;
				}
				.white_cont{
					margin: 10px 0;
				}
			}
		}
	}

	#profile_modal{
		.white_container{
			width: 90%;
		}
	}

	.message_section{
		display: inherit;
		overflow: hidden;
		.desktop_view,.tablet_view{
			display: none;
		}
		.mobile_view{
			display: inherit;
		}
		.half_divide{
			width: 100%!important;
		}
		.left_section{
			padding: 30px 50px 50px;
			h1{
				font-size: 25px;
			}
			p{
				font-size: 15px;
			}
		}
		.right_section{
			background: #c7c59b;
			text-align: center;
		}
		.right_section img{
			zoom:.65;
			bottom: -80px;
			right: 0;
			position: relative;
		}
	}

	#contact_us {
		display: inherit;
		text-align: center;
		.half_divide{
			width: 100%!important;
		}
		iframe{
			height: 80%;
		}
		.contacts span{
			font-size: 15px;
		}
	}

	#contact_modal .white_container{
		width: 90%;
		.body{
			padding: 0 20px 20px;
		}
		.title{
			padding: 50px 20px;
		}
		.foot{
			padding: 0 20px 50px;
		}
	}
}

@media (min-width: 320px) and (max-width: 413px){
	.content .view_site{
		width: 35%;
	}
	#video_bg_intro{
		min-height: auto;
		width: 100%;
	}

	.mobile_navbar{
		display: inherit;
		#toggle:checked ~ .nav .nav-item{
			font-size: 20px;
		}
	}
	.desktop_nav{
		display: none;
	}
	.main_banner{
		.comp_logo{
			width: 25%!important;
		}
		.main_title{
			font-size: 2rem!important;
			width: 100%;
		}
		.sub_title{
			font-size: 1.3rem!important;
		}
	}

	#services {
		padding: 0;
		.title_section{
			font-size: 25px;
		}
		.services_list{
			width: 90%;
			margin-top: 50px;
			cursor: pointer;
			li{
				width: 100%;
				.icon_cont{
					width: 20%;
				}
			}
			.serv_name{
				font-size: 18px!important;
			}
			.desc_name{
				font-size: 13px!important;
			}
			img{
				zoom: .8;
			}
		}
	}

	#products{
		padding: 50px;
		.title_section{
			font-size: 25px;
		}
		.product_lists{
			width: 100%;
			li{
				width: 100%;
				cursor: pointer;
			}
		}
	}

	#about_us{
		.first_section{
			display: inherit;
			position: relative;
			// background: url(/static/img/aboutus.920afad.jpg) fixed no-repeat;
			// background-size: 100% 100%;
			.parallax_bg{
				position: absolute!important;
			    z-index: 0;
			    top: 0;
			    left: 0;
			    height: 100%;
			    img{
			    	opacity: 1;
			    }
			}
			.half_divide{
				width: 100%;
				background: rgba(255,255,255,.9);
				position: relative;
			}
			p{
				margin: 30px auto;
				font-size: 15px;
			}
			.saying{
				font-size: 17px;
			}
		}
		h1{
			font-size: 25px;
		}
		.second_section ul li{
			width: 50%;
			height: 30vh;
			font-size: 13px;
			img{
				zoom:.8;
			}
			&.reverse.gray{
                background: #f7f7f7;
                color: #393939;
                transition: all ease-in-out .3s;
            }
            &.reverse.white{
                background: #a2a2a2;
                color: #fff;
                transition: all ease-in-out .3s;
            }
            &:hover{
                &.reverse.white{
                    background: #6d6d6d;
                }
                &.reverse.gray{
                    background: #feffea;
                }
            }
		}
	}

	.meet_team{
		h1{
			font-size: 25px;
		}
		.desktop_view,.tablet_view{
			display: none;
		}
		.mobile_view{
			display: inherit;
			img{
				height: 30vh;
			}

			.team_holder{
				margin: 0 auto;
				display: inherit;
				width: 80%;
				&:first-child{
					margin-top: 50px;
				}
				.white_cont{
					margin: 10px 0;
				}
			}
		}
	}

	#profile_modal{
		.white_container{
			width: 90%;
			.position{
				font-size: 15px;
			}
			.name{
				font-size: 20px;
			}
			.description{
				font-size: 13px;
			}
		}
	}

	.message_section{
		display: inherit;
		overflow: hidden;
		.desktop_view,.tablet_view{
			display: none;
		}
		.mobile_view{
			display: inherit;
		}
		.half_divide{
			width: 100%!important;
		}
		.left_section{
			padding: 30px 50px 50px;
			h1{
				font-size: 25px;
			}
			p{
				font-size: 15px;
			}
		}
		.right_section{
			background: #c7c59b;
			text-align: center;
		}
		.right_section img{
			zoom:.5;
			bottom: -100px;
			right: 0;
			position: relative;
		}
	}

	#contact_us {
		display: inherit;
		text-align: center;
		.half_divide{
			width: 100%!important;
		}
		iframe{
			height: 80%;
		}
		.contacts span,.address span{
			font-size: 13px;
		}
	}

	#contact_modal .white_container{
		width: 90%;
		.body{
			padding: 0 20px 20px;
		}
		.title{
			padding: 50px 20px;
		}
		.foot{
			padding: 0 20px 50px;
		}
	}
}