$bg: #38382a;
$c-01: #9f9d6e;
$c-02: #c7c59b;
$font-01: "Oxygen", sans-serif;

.content {
   width: 100%;
   height: 100vh;
   background-color: $bg;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;

   .view_site{
       padding: 5px;
       border: solid 1px #c7c59b;
       border-radius: 70px;
       background: #9f9d6e;
       width: 10%;
       font-family: monospace;
       color: #fff;
       outline: none;
       cursor: pointer;
       transition: all ease-in-out 0.3s; 
       z-index: 1;
       position: absolute;
       right: 10px;
       bottom: 10px;
       font-size: 13px;
       &:hover{
         box-shadow: 0 0 10px #c7c59b;
       }
   }

   .loading {
      width: 80px;
      height: 50px;
      position: relative;

      p {
         top: 0;
         padding: 0;
         margin: 0;
         color: $c-01;
         font-family: $font-01;
         animation: text 3.5s ease both infinite;
         font-size: 12px;
         letter-spacing: 1px;

         @keyframes text {
            0% {
               letter-spacing: 1px;
               transform: translateX(0px);
            }

            40% {
               letter-spacing: 2px;
               transform: translateX(26px);
            }

            80% {
               letter-spacing: 1px;
               transform: translateX(32px);
            }

            90% {
               letter-spacing: 2px;
               transform: translateX(0px);
            }

            100% {
               letter-spacing: 1px;
               transform: translateX(0px);
            }
         }
      }
      span {
         background-color: $c-01;
         border-radius: 50px;
         display: block;
         height: 16px;
         width: 16px;
         bottom: 0;
         position: absolute;
         transform: translateX(64px);
         animation: loading 3.5s ease both infinite;

         &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: $c-02;
            border-radius: inherit;
            animation: loading2 3.5s ease both infinite;
         }

         @keyframes loading {
            0% {
               width: 16px;
               transform: translateX(0px);
            }

            40% {
               width: 100%;
               transform: translateX(0px);
            }

            80% {
               width: 16px;
               transform: translateX(64px);
            } 

            90% {
               width: 100%;
               transform: translateX(0px);
            }

            100% {
               width: 16px;
               transform: translateX(0px);
            }
         }
         @keyframes loading2 {
            0% {
               transform: translateX(0px);
               width: 16px;
            }

            40% {
               transform: translateX(0%);
               width: 80%;
            }

           80% {
               width: 100%;
               transform: translateX(0px);
            }

            90% {
               width: 80%;
            transform: translateX(15px);
            }
            100% {
               transform: translateX(0px);
               width: 16px;
            }
         }
      }
   }
}

.fade_in-enter-active{
   animation: fade_in ease-in-out .5s;
}
.splash_screen-leave-active{
   animation: fade_out ease-in-out .5s;
}

@keyframes fade_in{
   0%{
      opacity: 0; 
   }
   100%{
      opacity: 1;
   }
}

@keyframes fade_out{
   0%{
      // opacity: 1;
      height: 100%;
      overflow: hidden;
   }
   100%{
      // opacity: 0;
      height: 0%;
      overflow: hidden;
   }
}

#video_bg_intro{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: .8;
}