<template>
    <div id="homepage_container">

        <transition name="splash_screen">
            <div class="splash_screen content" v-if="loading_start">
                <div class="loading" v-if="!view">
                    <p>Loading</p>
                    <span></span>
                </div>
                <transition name="fade_in">
                    <div v-if="view" style="width: 100%;text-align: center;">
                        <button class="view_site" @click="close_site">Skip Video</button>
                        <video autoplay muted id="video_bg_intro">
                            <source :src="require('@/assets/img/welcome.mp4')" type="video/mp4">
                        </video>
                    </div>
                </transition>
            </div>
        </transition>
        <!-- Navbar Section -->
        <div class="navbar_section desktop_nav" :class="scroll ? 'scrolled' : ''">
            <div class="logo_section">
                <img :src="require('@/assets/img/logo.png')" class="comp_logo">
                <span>EF Network Ltd.</span>
            </div>
            <div class="menu_section">
                <ul>
                    <li><a href="#home" v-smooth-scroll>Home</a></li>
                    <li><a href="#services" v-smooth-scroll>Services</a></li>
                    <li><a href="#products" v-smooth-scroll>Products</a></li>
                    <li><a href="#about_us" v-smooth-scroll>About Us</a></li>
                    <li><a href="#contact_us" v-smooth-scroll>Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="mobile_navbar">
            <input id="toggle" type="checkbox">            
            <label class="toggle-container" for="toggle">
                <span class="button button-toggle"></span>
            </label>
            <!-- The Nav Menu -->
            <nav class="nav">
                <a class="nav-item" @click="uncheck_toggle" href="#home" v-smooth-scroll>Home</a>
                <a class="nav-item" @click="uncheck_toggle" href="#services" v-smooth-scroll>Services</a>
                <a class="nav-item" @click="uncheck_toggle" href="#products" v-smooth-scroll>Products</a>
                <a class="nav-item" @click="uncheck_toggle" href="#about_us" v-smooth-scroll>About Us</a>
                <a class="nav-item" @click="uncheck_toggle" href="#contact_us" v-smooth-scroll>Contact Us</a>
            </nav>
        </div>

        <!-- carousel section -->
        <div class="main_banner" id="home">
            <img :src="require('@/assets/img/logo.png')" class="comp_logo">
            <transition name="banner_trans">
                <div class="main_title" v-if="!loading_start">
                    EF Network Ltd.
                    <div class="sub_title">Your Total Solution Partner</div>
                </div>
            </transition>
            <slider animation="fade" :interval="5000" :control-btn="false">
                <slider-item>
                    <img :src="require('@/assets/img/banner3.jpg')">
                </slider-item>
                <slider-item>
                    <img :src="require('@/assets/img/banner1.jpg')">
                </slider-item>
                <slider-item>
                    <img :src="require('@/assets/img/banner1.png')">
                </slider-item>
            </slider>
            <!-- <carousel :per-page="1" :mouse-drag="false" :autoplay="true" :loop="true" :autoplayTimeout="5000" :autoplayHoverPause="false">
                <slide>
                    <img :src="require('@/assets/img/banner3.jpg')">
                </slide>
                <slide>
                    <img :src="require('@/assets/img/banner1.jpg')">
                </slide>
                <slide>
                    <img :src="require('@/assets/img/banner1.png')">
                </slide>
            </carousel> -->
        </div>

        <!-- Services Section -->
        <div id="services">
            <h1 class="title_section">SERVICES</h1>
            <ul class="services_list">
                <li v-for="(data,key) in services_data" :key="key" :data-aos="data.ani">
                    <div class="icon_cont">
                        <img :src="data.icon" class="noncolored">
                        <img :src="data.icon_color" class="colored">
                    </div>
                    <div class="text_cont">
                        <div class="serv_name">{{data.title}}</div>
                        <div class="desc_name">{{data.desc}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Products Section -->
        <div id="products">
            <h1 class="title_section">PRODUCTS</h1>
            <ul class="product_lists">
                <li v-for="(data,key) in products_list" :key="key">
                    <div class="white_cont" data-aos="slide-up">
                        <img :src="data.icon">
                        <div>{{data.title}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- About Us Section -->
        <div id="about_us">
            <div class="first_section">
                <div class="half_divide parallax_bg">
                    <img :src="require('@/assets/img/working.jpg')">
                </div>
                <div class="half_divide" data-aos="fade">
                    <h1 class="title_section">ABOUT US</h1>
                    <p>EF Network Ltd is a multinational technology company, founded in 1995 that is a major global player in the green products, wireless/virtual technologies, broadband, cyber-security, tracking systems-personal, home, auto and public safety, communication gadgets, cloud services and e-commerce. EF Network lately expanded into internet of thing technologies, offering varied services. Our major focus is on the continent of Africa. Over the past two decades, through our technological advantages, we have made many Africa countries safer than ever.We are the fastest growing fiber internet and other digital consumer centric services provider in the country today.The premium products and services we offer run through the first pure end-to-end fiber internet network in the country.</p>
                    <div class="saying">"Your Total Solution Partner"</div>
                </div>
            </div>
            <div class="second_section">
                <ul class="checkboard">
                    <li v-for="(data,key) in checkboard_list" :class="data.class" :key="key" data-aos="flip-left">
                        <div class="box_container">
                            <img :src="data.icon" class="notmoving">
                            <img :src="data.icon_color" class="moving">
                            <div>{{data.title}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="meet_team">
            <!-- <img :src="require('@/assets/img/team.png')" class="overlay_img"> -->
            <h1 class="title_section">The Team</h1>
            <div class="desktop_view">
                <div class="team_holder">
                    <div v-for="(data,key) in team_list" @click="show_profile_modal(data)" :key="key" class="white_cont" data-aos="fade-down" :data-aos-delay="data.delay">
                        <div class="img_cont">
                            <img :src="data.image">
                            <div class="overlay"></div>
                        </div>
                        <p class="name">{{data.name}}</p>
                        <p class="position">{{data.position}}</p>
                    </div>
                </div>
            </div>
            <div class="tablet_view">
                <div class="team_holder">
                    <div v-for="(data,key) in team_list" v-if="key < 3" @click="show_profile_modal(data)" :key="key" class="white_cont" data-aos="fade-down" :data-aos-delay="data.delay">
                        <div class="img_cont">
                            <img :src="data.image">
                            <div class="overlay"></div>
                        </div>
                        <p class="name">{{data.name}}</p>
                        <p class="position">{{data.position}}</p>
                    </div>
                </div>
                <div class="team_holder">
                    <div v-for="(data,key) in team_list" v-if="key > 2" @click="show_profile_modal(data)" :key="key" class="white_cont" data-aos="fade-down" :data-aos-delay="data.delay">
                        <div class="img_cont">
                            <img :src="data.image">
                            <div class="overlay"></div>
                        </div>
                        <p class="name">{{data.name}}</p>
                        <p class="position">{{data.position}}</p>
                    </div>
                </div>
            </div>
            <div class="mobile_view">
                <div class="team_holder">
                    <div v-for="(data,key) in team_list" v-if="key < 2" @click="show_profile_modal(data)" :key="key" class="white_cont" data-aos="fade-down" :data-aos-delay="data.delay">
                        <div class="img_cont">
                            <img :src="data.image">
                            <div class="overlay"></div>
                        </div>
                        <p class="name">{{data.name}}</p>
                        <p class="position">{{data.position}}</p>
                    </div>
                </div>
                <div class="team_holder">
                    <div v-for="(data,key) in team_list" v-if="key > 1 && key < 4" @click="show_profile_modal(data)" :key="key" class="white_cont" data-aos="fade-down" :data-aos-delay="data.delay">
                        <div class="img_cont">
                            <img :src="data.image">
                            <div class="overlay"></div>
                        </div>
                        <p class="name">{{data.name}}</p>
                        <p class="position">{{data.position}}</p>
                    </div>
                </div>
                <div class="team_holder">
                    <div v-for="(data,key) in team_list" v-if="key > 3" @click="show_profile_modal(data)" :key="key" class="white_cont" data-aos="fade-down" :data-aos-delay="data.delay">
                        <div class="img_cont">
                            <img :src="data.image">
                            <div class="overlay"></div>
                        </div>
                        <p class="name">{{data.name}}</p>
                        <p class="position">{{data.position}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chairmans Message -->
        <div class="message_section">
            <div class="desktop_view">
                <div class="half_divide left_section">
                    <h1>Chairman's Message</h1>
                    <p>"In the 20th century the world focused on industrialization and analogue, in 21st century it was oil drilling and digital technology, and the future of mankind as we see it, lies with Clean, Green and wireless products/technologies. As a result, through our research and development, EF Group would continuously endeavor to introduce new technologies, acquire companies, develop and implement these products for the benefits of Africa continent. We invite you to join us in our global quest to making the world a better place- a Clean, Green and wireless world."</p>
                    <div class="chairman_name">
                        Mr. Gideon Egbuchulam<br/>
                        <span>EF Group Chairman/CEO</span>
                    </div>
                </div>
                <div class="half_divide right_section">
                    <img :src="require('@/assets/img/chairman.png')" data-aos="fade-left">
                    <div class="rectangle_green"></div>
                </div>
            </div>
            <div class="mobile_view">
                <div class="half_divide right_section">
                    <img :src="require('@/assets/img/chairman.png')" data-aos="fade-left">
                    <div class="rectangle_green"></div>
                </div>
                <div class="half_divide left_section">
                    <h1>Chairman's Message</h1>
                    <p>"In the 20th century the world focused on industrialization and analogue, in 21st century it was oil drilling and digital technology, and the future of mankind as we see it, lies with Clean, Green and wireless products/technologies. As a result, through our research and development, EF Group would continuously endeavor to introduce new technologies, acquire companies, develop and implement these products for the benefits of Africa continent. We invite you to join us in our global quest to making the world a better place- a Clean, Green and wireless world."</p>
                    <div class="chairman_name">
                        Mr. Gideon Egbuchulam<br/>
                        <span>EF Group Chairman/CEO</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us Section -->
        <div id="contact_us">
            <div class="half_divide">
                <iframe data-aos="fade-left" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15759.237266791768!2d7.489950916906917!3d9.081128965945439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0be32275fe5d%3A0x55e2e606f1c6452e!2sE.F.%20Network%20Ltd!5e0!3m2!1sen!2sph!4v1591346218324!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="half_divide">
                <div class="details_container">
                    <div class="address">
                        ADDRESS<br><span>12345 Street Name<br>City, AA 9999</span>
                    </div>
                    <div class="contacts">
                        CONTACTS<br>
                        <span>EMAIL: inquiry@eftechnology.net</span><br>
                        <span>PHONE: (01) 0000 0000</span>
                    </div>
                    <button class="send_us_btn" @click="show_modal">Send us a Message</button>
                    <ul class="socials" data-aos="fade-right">
                        <li><a href="http://www.facebook.com/eftechnologylimited" target="_blank"><img :src="require('@/assets/img/fb.png')"></a></li>
                        <li><a href="http://www.twitter.com/eftechnologylimited" target="_blank"><img :src="require('@/assets/img/twit.png')"></a></li>
                        <li><a href="#"><img :src="require('@/assets/img/inst.png')"></a></li>
                        <li><a href="#"><img :src="require('@/assets/img/link.png')"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">Copyright @ 2020 EFL Network Ltd.</div>

        <a href="#home" v-smooth-scroll id="back-to-top" title="Back to top" :class="scroll ? 'show' : ''">&uarr;</a>

        <transition name="show_modal">
            <div id="contact_modal" v-if="modal_status" @click="close_modal_dimmer($event.target)">
                <div class="white_container">
                    <div class="title">
                        Contact Us
                        <div class="close_modal" @click="hide_modal">X</div>
                    </div>
                    <div class="body">
                        <div style="display: inline-flex;width: 100%;">
                            <div style="width: 100%;">
                                <label>Your Name</label>
                                <input type="text" placeholder="Enter your name">
                            </div>
                            <div style="width: 10%;"></div>
                            <div style="width: 100%;">
                                <label>Email</label>
                                <input type="email" placeholder="Enter your email address">
                            </div>
                        </div>
                        <div style="margin-top: 20px;">
                            <label>Message</label>
                            <textarea placeholder="Your message here..." rows="5"></textarea>
                        </div>
                    </div>
                    <div class="foot">
                        <button>Submit &rarr;</button>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="show_modal">
            <div id="profile_modal" v-if="profile_modal_status" @click="close_modal_dimmer($event.target)">
                <div class="white_container">
                    <div class="title">
                        <div class="close_modal" @click="hide_modal_prof">X</div>
                    </div>
                    <div class="body">
                        <div class="image_container">
                            <img :src="curr_prof_data.image">
                        </div>
                        <div class="name">{{curr_prof_data.name}}</div>
                        <div class="position">{{curr_prof_data.position}}</div>
                        <p class="description" v-html="curr_prof_data.description"></p>
                    </div>
                </div>
            </div>
        </transition>
    </div>

</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import AOS from 'aos';
import 'aos/dist/aos.css';
import '@/assets/css/homepage.scss';
import '@/assets/css/splashscreen.scss'
import '@/assets/css/home_responsive.scss'

export default {
    name: 'HomePage',
    components: {
        Carousel,
        Slide
    },
    data () {
        return {
            services_data:[
                {ani:'fade-right',icon_color: require('@/assets/img/services/icon1-color.png'),icon: require('@/assets/img/services/icon1.png'),title: 'Household Electronics',desc: 'Provides household electronics'},
                {ani:'fade-left',icon_color: require('@/assets/img/services/icon2-color.png'),icon: require('@/assets/img/services/icon2.png'),title: 'Financial Service',desc: 'Providing government loans and public debt restructuring'},
                {ani:'fade-right',icon_color: require('@/assets/img/services/icon3-color.png'),icon: require('@/assets/img/services/icon3.png'),title: 'Bicycle Manufacturing',desc: 'Provides bicycles for sport, leisure and means of transportation'},
                {ani:'fade-left',icon_color: require('@/assets/img/services/icon4-color.png'),icon: require('@/assets/img/services/icon4.png'),title: 'Communications Gadget',desc: 'Mobile phone, global walkie-talkie and trackers'},
                {ani:'fade-right',icon_color: require('@/assets/img/services/icon5-color.png'),icon: require('@/assets/img/services/icon5.png'),title: 'Security Products/Services',desc: 'We provide products and services to a nation state security forces for civil defence and protections'},
                {ani:'fade-left',icon_color: require('@/assets/img/services/icon6-color.png'),icon: require('@/assets/img/services/icon6.png'),title: 'Plastics Manufacturing',desc: 'Manufacturing plastic dustbins, biodegradable refuse plastics'},
                {ani:'fade-right',icon_color: require('@/assets/img/services/icon7-color.png'),icon: require('@/assets/img/services/icon7.png'),title: 'Waste Management Service',desc: 'Providing waste collection disposal, and recycling'},
                {ani:'fade-left',icon_color: require('@/assets/img/services/icon8-color.png'),icon: require('@/assets/img/services/icon8.png'),title: 'Waste-to-Energy',desc: 'Converting municipal wastes into electricity'},
                {ani:'fade-right',icon_color: require('@/assets/img/services/icon9-color.png'),icon: require('@/assets/img/services/icon9.png'),title: 'Clean Smokeless Cooking Stoves',desc: 'Providing clean and smokeless cooking stoves for poor people in Africa'},
                {ani:'fade-left',icon_color: require('@/assets/img/services/icon10-color.png'),icon: require('@/assets/img/services/icon10.png'),title: 'EFBroadbands',desc: 'Providing internet connectivity'},
            ],
            products_list:[
                {icon:require('@/assets/img/product12.png'),title:'X3 GPS Multifunctional Tracker'},
                {icon:require('@/assets/img/product5.png'),title:'GT06E GPS Vehicle Tracker'},
                {icon:require('@/assets/img/product3.png'),title:'GT06N GPS Multifunctional Tracker'},
                {icon:require('@/assets/img/product7.png'),title:'GT800 GPS Multifunctional Tracker'},
                {icon:require('@/assets/img/product1.png'),title:'Judge V5 Body Camera'},
                {icon:require('@/assets/img/product2.png'),title:'JC100 EdgeCam -- 36 GPS Tracking Camera'},
                {icon:require('@/assets/img/product10.png'),title:'JH016 46 Outdoor Security Camera'},
                {icon:require('@/assets/img/product4.png'),title:'Infinite T28 4G Walkie Talkie'},
                {icon:require('@/assets/img/product8.png'),title:'JH09 3G Wifi Wireless Monitor'},
                {icon:require('@/assets/img/product9.png'),title:'JH012 3G Outdoor Waterproof Security Camera'},
                {icon:require('@/assets/img/product11.png'),title:'OB22 Plug & Play OBD Tracker'},
                {icon:require('@/assets/img/product6.png'),title:'GT08 GPS Vehicle Tracker'},
                {icon:require('@/assets/img/product13.png'),title:'Qbit Mini GPS Tracker'},
            ],
            checkboard_list:[
                {class: 'gray',icon_color:require('@/assets/img/about/icon11-color.png'),icon:require('@/assets/img/about/icon11.png'),title: 'Training'},
                {class: 'white',icon_color:require('@/assets/img/about/icon12-color.png'),icon:require('@/assets/img/about/icon12.png'),title: 'Customised Implementation'},
                {class: 'gray reverse',icon_color:require('@/assets/img/about/icon13-color.png'),icon:require('@/assets/img/about/icon13.png'),title: 'Consultancy Service'},
                {class: 'white reverse',icon_color:require('@/assets/img/about/icon14-color.png'),icon:require('@/assets/img/about/icon14.png'),title: 'Installation & Commissioning'},
                {class: 'white reverse',icon_color:require('@/assets/img/about/icon15-color.png'),icon:require('@/assets/img/about/icon15.png'),title: 'System Integration'},
                {class: 'gray reverse',icon_color:require('@/assets/img/about/icon16-color.png'),icon:require('@/assets/img/about/icon16.png'),title: 'Service and Maintenance'},
                {class: 'white',icon_color:require('@/assets/img/about/icon17-color.png'),icon:require('@/assets/img/about/icon17.png'),title: 'The Right Equipment'},
                {class: 'gray',icon_color:require('@/assets/img/about/icon18-color.png'),icon:require('@/assets/img/about/icon18.png'),title: 'After Sales Support'},
            ],
            team_list:[
                {
                    name: 'Gideon Egbuchulam',
                    position: 'Chairman/Chief Executive Officer',
                    description: 'Mr. Egbuchulam has developed solutions to many of Nigeria’s infrastructure needs and by extension in West Africa. His business relationships with governments in this region have propelled EF Network to be one of the top rated government contractors and technology security experts in the country. EF Network Limited is also operating in Singapore, Hongkong, Iceland, China, America and Nigeria.<br><br>EF Network is a part of a conglomerate of companies owned by EF Group where Mr.Egbuchulam has been the Chairman and CEO since 1985. EF Group owns six companies operating in four continents.<br><br>Through Mr. Egbuchulam leadership all of the EF Group companies have become successful, providing services in wireless solutions, energy, electronics, security technologies, environment and financial services.',
                    delay: '0',
                    image: require('@/assets/img/avatar/team1.jpeg')
                },
                {
                    name: 'John Nix',
                    position: 'Chief Financial Officer (CFO)',
                    description: 'Mr. Nix is the Chief Financial Officer (COO) of E.F. Network Ltd. and the Managing Director of NSC Group. NSC has been providing investment banking services for economic, infrastructure and SME projects in developing countries.<br><br>For over 40 years, he has provided infrastructural funding for governments and conglomerate companies in excess of $30billion dollars.<br><br>Mr. Nix has been working in Western Africa with EF Network for nearly 20 years on numerous projects. For 26 years during this time period, Mr. Nix also owned and operated in SEC (Securities and Exchange Commission) registered investment brokerage firm, which underwrote securities offering for start-up businesses, mergers and acquisitions, and business expansion programs.<br><br>Mr. Nix wealth of knowledge in investment banking and financing is a ready-made solution for governments in the emerging market regions of the world.',
                    delay: '100',
                    image: require('@/assets/img/avatar.png')
                },
                {
                    name: 'John Hardy',
                    position: 'Chief Technology Officer (CTO)',
                    description: 'Business leader with unique blend of engineering, sales, operations and entrepreneurial experience; from US to Africa to Asia; from start-ups to top 500; from hands-on in-the-field roles to C-suite offices.<br><br>Extensive experience in project management and international sales including Electrical Engineering ,Inverters ,Renewable Energy- IPP ( NUG ) Utility’s and IT sectors with WiMax, PWiMax, Wi-Fi/in building and mobile roaming ,CDMA , 3G , 4G , and LTE designs.<br><br>Motivated, self-managed leader, results-driven in company operations, with an in-depth understanding of emerging technologies. Decades of designing and developing transition plans between legacy and next generation systems, on time and under budget.  Seasoned professional with hands on approach in technical operations in international, developing and developed markets globally.',
                    delay: '200',
                    image: require('@/assets/img/avatar/team2.jpeg')
                },
                {
                    name: 'Varadarajan Narayanan',
                    position: 'Position',
                    description: 'Electrical Engineer with 20+ in Industrial Electronics , Instrumentation and control specialized in turnkey projects. Being a consultant for various industries for more than two decades, a hands-on person with crisis management and problem solving ability with extensive domain knowledge in various process industries .<br><br>Being well versed with a wide range of process control instruments , data communications and networking ,cutting edge technologies like IT-OT convergence is of immense interest .A penchant for groundbreaking for new technologies and related business development. In addition to exemplary knowledge in process control and instrumentation , have diversified skill sets covering, technical writing, project management and business development .<br><br>Excellent inter-personal, phone and digital communication skills. Advocate of open source technologies and very active in contributing to the Open source philosophy.  Working with government bodies for promoting open source in E-governance and community projects.  Preference for very challenging assignments like groundbreaking for new technologies. Able to meet the challenges encountered when working with individuals of various nationalities in team environments or one-on-one.<br><br>Highly motivated and keep up to date in technological developments in related fields. Extremely resourceful and goal-oriented .Capable of meeting targets with available resources. Capable of evolving  special tools in order to improve productivity achieve targets and promote teamwork - web sites ,knowledge base , design aids  ,jigs and fixtures and tools.',
                    delay: '300',
                    image: require('@/assets/img/avatar/team3.jpeg')
                },
                {
                    name: 'Tom Manliclic',
                    position: 'Position',
                    description: 'Tom is technically-savvy professional with a pioneering career reflecting strong leadership qualifications coupled with “hands-on” IS and networking expertise.<br><br>Known as a strong leader and with over 18 years of IT Systems Management which includes system/network administration, development and maintenance. Experienced in technical management, change management, deployment and support in several business applications. Always interested in application of new technologies,  enterprise wide wired/wireless system deployment, database and back-end system management.<br><br>His exemplary track record in the spearheading start-up, turn-around and business growth leveraging strategies, complemented by his profound technical involvement and fiery leadership skills has made him a driving force in ensuring business growth and profitability.',
                    delay: '400',
                    image: require('@/assets/img/avatar/team4.jpeg')
                },
                {
                    name: 'Allen Sides',
                    position: 'Position',
                    description: 'Mr. Allen Sides is a renowned environmentalist who has been with E.F.Network since the year 2005 and with vast knowledge on municipal solid wastes, waste equipments, waste to energy and environmental remedies.<br><br>Mr. Sides has over 30 years experience in environmental products, equipments and services. Prior to joining E.F. Network Ltd, he managed the largest waste equipment and Management Company in the state of Florida, USA.',
                    delay: '500',
                    image: require('@/assets/img/avatar.png')
                }
            ],
            scroll: false,
            body: document.querySelector('body'),
            scrollPosition : 0,
            view: false,
            loading_start: true,
            modal_status: false,
            profile_modal_status: false,
            curr_prof_data: ''
        }
    },
    created(){
        AOS.init()
        window.addEventListener('scroll', this.handleScroll);
        this.disable_scroll();
    },
    mounted(){
        var checker = setInterval(()=>{
            if(document.readyState == 'complete'){
                clearInterval(checker);
                setTimeout(()=>{
                    this.view = true
                    setTimeout(()=>{
                        document.getElementById('video_bg_intro').addEventListener('ended',this.close_site,false);
                    },100)
                },3000)
            }
        },100)
    },
    methods: {
        close_modal_dimmer(event){
            // console.log(event.id);
            if(event.id == 'contact_modal'){
                this.hide_modal();
            }else if(event.id == 'profile_modal'){
                this.hide_modal_prof();
            }
        },
        uncheck_toggle(){
            setTimeout(() => {
                document.getElementById("toggle").checked = false;
            },1000)
        },
        handleScroll(){
            if(window.scrollY == 0){
                this.scroll = false
            }else{
                this.scroll = true
            }
        },
        disable_scroll() {
            this.scrollPosition = window.pageYOffset;
            this.body.style.overflow = 'hidden';
            this.body.style.position = 'fixed';
            this.body.style.top = `-${this.scrollPosition}px`;
            this.body.style.width = '100%';
        },
        enable_scroll() {
            this.body.style.removeProperty('overflow');
            this.body.style.removeProperty('position');
            this.body.style.removeProperty('top');
            this.body.style.removeProperty('width');
            window.scrollTo(0, this.scrollPosition);
        },
        close_site(){
            this.loading_start = false;
            setTimeout(()=>{
                this.enable_scroll();
            },500)
        },
        show_modal(){
            // this.disable_scroll();
            this.modal_status = true
        },
        hide_modal(){
            this.modal_status = false
            // this.enable_scroll();
        },
        show_profile_modal(data){
            this.curr_prof_data = data
            this.profile_modal_status = true
        },
        hide_modal_prof(){
            this.curr_prof_data = ''
            this.profile_modal_status = false
        }

    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
