<template>
    <div class="splash_screen">
        <div class="content">
            <div class="loading" v-if="!view">
                <p>Loading</p>
                <span></span>
            </div>
            <transition name="fade_in">
                <button v-if="view" class="view_site" @click="close_site">View Website</button>
            </transition>
        </div>
    </div>
</template>

<script>
import '@/assets/css/splashscreen.scss'
export default {
    name: 'SplashScreen',
    data () {
        return {
            body: document.querySelector('body'),
            scrollPosition : 0,
            view: false
        }
    },
    created(){
        this.disable_scroll();
    },
    mounted(){
        var checker = setInterval(()=>{
            if(document.readyState == 'complete'){
                setTimeout(()=>{
                    this.view = true
                },2000)
            }
        },100)
    },
    methods:{
        disable_scroll() {
            this.scrollPosition = window.pageYOffset;
            this.body.style.overflow = 'hidden';
            this.body.style.position = 'fixed';
            this.body.style.top = `-${this.scrollPosition}px`;
            this.body.style.width = '100%';
        },
        enable_scroll() {
            this.body.style.removeProperty('overflow');
            this.body.style.removeProperty('position');
            this.body.style.removeProperty('top');
            this.body.style.removeProperty('width');
            window.scrollTo(0, this.scrollPosition);
        },
        close_site(){
            this.$emit('close')
        }
    }

}
</script>